<ion-header>
  <ion-toolbar>
    <header>

    <!-- <ion-title>session-details</ion-title> -->
    <div class="container-fluid">
      <div class="row py-3 justify-content-end align-items-center">
        <div class="col-2">
          <a href="home.html"> <img src="images/icons/left-arrow.svg" alt="" class="w-20px"></a>
        </div>
        <div class="col-8 d-flex justify-content-center"><span class="text-white fw-bolder header-mainTxt">Session
            details</span></div>
        <div class="col-2 d-flex justify-content-end" onclick="location.href='home.html'">
          <img src="images/icons/home.svg" alt="" class="w-22px">
        </div>
      </div>
    </div>
  </header>

  </ion-toolbar>
</ion-header>