<ion-header>
  <ion-toolbar>
    <header>

    <!-- <ion-title>session-details</ion-title> -->
    <div class="container-fluid">
      <div class="row py-3 justify-content-end align-items-center">
        <div class="col-2">
          <a href="home.html"> <img src="images/icons/left-arrow.svg" alt="" class="w-20px"></a>
        </div>
        <div class="col-8 d-flex justify-content-center"><span class="text-white fw-bolder header-mainTxt">Session
            details</span></div>
        <div class="col-2 d-flex justify-content-end" onclick="location.href='home.html'">
          <img src="images/icons/home.svg" alt="" class="w-22px">
        </div>
      </div>
    </div>
  </header>

  </ion-toolbar>
</ion-header>

<ion-content class="warpper pb-4">
  
  <!-- <div class="warpper pb-4"> -->
    <div class="container-fluid">

      <!-- indicators starts -->
      <div class="row">
        <div class="col">
          <div class="indicators py-3 text-center">
            <span class="dot active me-3"></span>
            <span class="dot me-3"></span>
            <span class="dot"></span>
          </div>
        </div>
      </div>
      <!-- indicators ends -->

      <!-- session form starts -->
      <div class="row">
        <!-- <div class="col-12"> -->
          
          <ion-list class="col-12">
            <form action="" class="sessionForm">
              <div class="mb-12">
              <!-- <ion-item > -->
               
                  <ion-label for="sessionId" class="form-label">Session ID</ion-label>
                  <ion-input type="email" class="form-control sessionForm-input error-input" id="sessionId" placeholder=""
                    value="My aces - 00001" disabled> </ion-input>
                  <!-- error msg -->
                  <p class="mb-0 mt-1 error-txt">Please select session ID</p>
               <!--  -->
              <!-- </ion-item> -->
            </div>
              <div class="mb-12">
                <!-- <ion-item class="mb-12"> -->
                <label for="trainingResponsible" class="form-label">Training responsible</label>
                <ion-select class="form-select sessionForm-input error-input" id="trainingResponsible"
                  aria-label="Training responsible">
                  <ion-select-option selected>Select training responsible</ion-select-option>
                  <ion-select-option value="1">One</ion-select-option>
                  <ion-select-option value="2">Two</ion-select-option>
                  <ion-select-option value="3">Three</ion-select-option>
                </ion-select>
                <!-- error msg -->
                <p class="mb-0 mt-1 error-txt">Please select training responsible</p>
                <!-- </ion-item> -->
              </div>
              <div class="mb-12">
                <label for="place" class="form-label">Place*</label>
                <ion-select class="form-select sessionForm-input error-input" id="place">
                  <ion-select-option selected>Enter place of the session</ion-select-option>
                  <ion-select-option value="1">One</ion-select-option>
                  <ion-select-option value="2">Two</ion-select-option>
                  <ion-select-option value="3">Three</ion-select-option>
                </ion-select>
                <!-- error msg -->
                <p class="mb-0 mt-1 error-txt">Please select place of session</p>
              </div>
              <div class="mb-12">
                <label for="sessionDate" class="form-label">Session date*</label>
                <ion-input type="date" class="form-control sessionForm-input error-input" id="sessionDate"></ion-input>
                <!-- error msg -->
                <p class="mb-0 mt-1 error-txt">Please select session date</p>
              </div>
              <div class="row px-3">
                <div class="col-6">
                  <div class="mb-12 row align-items-center justify-content-end">
                    <label for="from" class="col-3 col-form-label">From</label>
                    <div class="col-8">
                      <ion-input type="time" class="form-control sessionForm-input error-input" id="from"></ion-input>
                      <!-- error msg -->
                      <p class="mb-0 mt-1 error-txt">From time required</p>
                    </div>
  
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-12 row align-items-center">
                    <label for="to" class="col-2 col-form-label text-end">To</label>
                    <div class="col-8">
                      <ion-input type="time" class="form-control sessionForm-input error-input" id="to"></ion-input>
                      <!-- error msg -->
                      <p class="mb-0 mt-1 error-txt">To time required</p>
                    </div>
  
                  </div>
                </div>
              </div>
            </form>
          </ion-list>
         
        <!-- </div> -->
      </div>
      <!-- session form ends -->

      <!-- create new session starts -->
      <div class="text-end mt-5">
        <span class="fw-bolder font-14">Create new crew</span>
        <a href="#"><img src="images/icons/plus.svg" alt="" class="creaNewImg"></a>
      </div>
      <!-- create new session ends -->

      <!-- card starts -->
      <div class="sessionCardContainer">
        <div class="sessionCard mt-3">
          <div class="row">
            <div class="col-10">
              <div class="card">
                <div class="card-img bg-green" data-bs-toggle="modal" data-bs-target="#colorpicker">
                  <img src="images/icons/card_icon.svg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <ion-input type="text" value="Crew A"></ion-input>
                </div>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
              <a href="#"> <img src="images/icons/cross.svg" alt="" class="card-cross-img"></a>
            </div>
          </div>

          <div class="col-10">
            <div class="mt-3">
              <ion-select class="form-select custom-selectBox" aria-label="Default select example">
                <ion-select-option selected>Select participants</ion-select-option>
                <ion-select-option value="1">BASTOS Alexandra (Paris)</ion-select-option>
                <ion-select-option value="2">MALGUNDKAR Akshay (Mumbai)</ion-select-option>
                <ion-select-option value="3">HAMDAOUI Kenza (Paris)</ion-select-option>
              </ion-select>
            </div>
          </div>

          <div class="col-10">
            <!-- crew member name starts -->
            <div class="mt-3 bg-light p-2 d-flex justify-content-between border-left-green border-width-5">
              <span> BASTOS Alexandra (Paris)</span>
              <a href="#"> <img src="images/icons/cross.svg" alt="" class="card-cross-img"></a>
            </div>
            <!-- crew member name ends -->
          </div>

        </div>

        <div class="sessionCard mt-3">
          <div class="row">
            <div class="col-10">
              <div class="card">
                <div class="card-img bg-yellow" data-bs-toggle="modal" data-bs-target="#colorpicker">
                  <img src="images/icons/card_icon.svg" class="card-img-top w-35px" alt="...">
                </div>
                <div class="card-body">
                  <ion-input type="text" value="Crew B"></ion-input>

                </div>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
              <a href="#"> <img src="images/icons/cross.svg" alt="" class="card-cross-img"></a>
            </div>
          </div>
        </div>

        <div class=" sessionCard mt-3">
          <div class="row">
            <div class="col-10">
              <div class="card">
                <div class="card-img bg-pink" data-bs-toggle="modal" data-bs-target="#colorpicker">
                  <img src="images/icons/card_icon.svg" class="card-img-top w-35px" alt="...">
                </div>
                <div class="card-body">
                  <ion-input type="text" value="Crew C"></ion-input>
                </div>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
              <a href="#"> <img src="images/icons/cross.svg" alt="" class="card-cross-img"></a>
            </div>
          </div>
        </div>
        <!-- card ends -->

        <!-- button starts -->
        <div class="d-flex justify-content-center mt-5">
          <ion-button color="" class="custom-button btn-secondary btn-saveQuit me-3" onClick="location.href='home.html'">Save &
            Quit</ion-button>
          <ion-button class="custom-button btn-danger btn-red" onClick="location.href='session-record.html'">Next</ion-button>
        </div>
        <!-- button ends -->
      </div>
    </div>




    <div class="modal colorPicker-modal" id="colorpicker">
      <div class="modal-dialog modal-dialog-centered colorPicker-modal-dialog">
        <div class="modal-content colorPicker-modal-content">

          <!-- Modal Header -->
          <div class="modal-header colorPicker-modal-header  justify-content-end pb-0 pt-2">
            <a href="#" class="custom-cursor-pointer d-inline-block" data-bs-dismiss="modal"><img
                src="./images/icons/cross.svg" alt="cross icon" class="img-fluid custom-cursor-pointer w-25px"></a>

          </div>

          <!-- Modal body -->
          <div class="modal-body colorPicker-modal-body pb-4 mb-3 pt-0">
            <h3 class="text-center mb-0 fw-bolder color-picker-text">Pick a colour</h3>
            <div class="color-picker-wrapper mt-4">
              <ul class="list-inline d-flex flex-wrap">
                <li
                  class="custom-colorControl-wrapper oliveGreen-bgColor d-flex justify-content-center align-items-center text-center disable-colorPicker me-1">
                  <img src="./images/icons/disable.svg" class="img-fluid disable-img" alt="disable">
                </li>
                <li
                  class="custom-colorControl-wrapper yellow-bgColor d-flex justify-content-center align-items-center text-center disable-colorPicker me-1">
                  <img src="./images/icons/disable.svg" class="img-fluid disable-img" alt="disable">
                </li>
                <li
                  class="custom-colorControl-wrapper pink-bgColor d-flex justify-content-center align-items-center text-center disable-colorPicker">
                  <img src="./images/icons/disable.svg" class="img-fluid disable-img" alt="disable">
                </li>
                <li
                  class="custom-colorControl-wrapper darkpink-bgColor d-flex justify-content-center align-items-center mt-1 me-1">

                </li>
                <li
                  class="custom-colorControl-wrapper green-bgColor d-flex justify-content-center align-items-center mt-1 me-1">

                </li>
                <li
                  class="custom-colorControl-wrapper blue-bgColor d-flex justify-content-center align-items-center mt-1">

                </li>
              </ul>

            </div>
          </div>



        </div>
      </div>
    </div>
  <!-- </div>   -->
</ion-content>